div {
	height: 200px;
}


.red {
	background-color: red;

}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}
.purple {
	background-color: purple;
}
.orange {
	background-color: orange;
}